
doctype html
html(lang="en")
    head
        title codeparty
        meta(charset="utf-8")
        meta(name="author", content="eyebraus")

        //- Scripts
        script(data-main="/js/main", src="/components/requirejs/require.js")

        //- Stylesheets
        link(rel="stylesheet", type="text/css", href="/css/skeleton/base.css")
        link(rel="stylesheet", type="text/css", href="/css/skeleton/skeleton.css")
        link(rel="stylesheet", type="text/css", href="/css/skeleton/layout.css")
        link(rel="stylesheet", type="text/css", href="/css/highlight/github.css")
        link(rel="stylesheet", type="text/css", href="/css/main.css")

        //- Icons, Favicons
        link(rel="shortcut icon", href="/img/favicon.ico")

    body
        .container
            #app-header.twelve.columns.row.offset-by-two
                h1 codeparty!
                h4 <file>

            hr

            #app-body.fourteen.columns.row.offset-by-one
                .code-frame
                    .code-content
                        pre
                            .code
