
body
    #app-header
        height 80px
    #app-header h1
        float left
        clear both
    #app-header h4
        float left
        clear both

    #app-body .code-frame
        width 100%
        height 800px
        border 2px solid rgba(128, 128, 128, 0.6)
        overflow-y auto
    #app-body .code-content
        width auto
        overflow-x auto
    #app-body .code
        font-family monospace
    #app-body .line
        height 21px
        padding 0 16px
        border-top 1px solid rgba(255, 255, 255, 0.0)
        border-bottom 1px solid rgba(255, 255, 255, 0.0)
    #app-body .line:hover
        border-top 1px solid rgba(160, 255, 160, 0.9)
        border-bottom 1px solid rgba(160, 255, 160, 0.9)
    #app-body .line-numbers
        width 40px
        -webkit-user-select none
        -khtml-user-select none
        -moz-user-select none
        -ms-user-select none
        user-select none
    #app-body .line-number
        width 24px
        height 21px
        padding 0px 12px
        background rgba(247, 247, 255, 1.0)
        border-right 1px solid rgba(128, 128, 128, 0.4)
        float left
        font-size 14px
        text-align right

    .line.active-selection
        background rgba(160, 255, 160, 0.9)
    .line.inactive-selection
        background rgba(210, 255, 210, 0.5)
