
body
    #app-header
        height 80px
    #app-header h1
        float left
        clear both
    #app-header h4
        float left
        clear both

    #app-body .code-frame
        width 100%
        height 800px
        border 2px solid rgba(128, 128, 128, 0.6)
        overflow-y auto
    #app-body .code-content
        width auto
        padding 0 16px 0 0
        overflow-x auto
    #app-body .code
        font-family monospace
    #app-body .line
        height 21px
    #app-body .line-number
        width 40px
        margin 0 16px 0 0
        padding 0px 12px
        background rgba(247, 247, 255, 1.0)
        border-right 1px solid rgba(128, 128, 128, 0.4)
        float left
        font-size 14px
        text-align right
